body{
  background-color: #111111;
  opacity: 1;
  background-image: linear-gradient(#171717 3.5px, transparent 3.5px), linear-gradient(to right, #171717 3.5px, #111111 3.5px);
  background-size: 70px 70px;
}
.hero {
   
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.navbar {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.hero h1 {
  --animate-delay: 0.7s;
}

.hero p {
  --animate-delay: 1.2s;
}

.hero button {
  --animate-delay: 1.7s;
}

.footer {
  min-height: 60vh;
  background-color: #15181f;
  margin-top: 150px;
}

.footer .copyright {
  padding-top: 100px;
}

.faq {
  padding-top: 100px;
}

.faq .accordion {
  --bs-accordion-bg: #e9edc9;
}

.faq .accordion .accordion-button:focus {
  box-shadow: none;
}

